variables:
  PROJECT_PATH: "src/HolMirDas/HolMirDas.csproj"

stages:          # List of stages for jobs, and their order of execution
  - build
  - publish

build-job:       # This job runs in the build stage, which runs first.
  stage: build
  script:
    - dotnet restore $PROJECT_PATH
    - dotnet build  --no-restore $PROJECT_PATH
  tags:
    - net8

publish-windows:
  stage: publish
  script:
    - dotnet publish -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true -o ./publish-windows $PROJECT_PATH
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - $CI_PROJECT_DIR/publish-windows
  tags:
    - net8

publish-linux:
  stage: publish
  script:
    - dotnet publish -c Release -r linux-x64 --self-contained true /p:PublishSingleFile=true -o ./publish-linux $PROJECT_PATH
  artifacts:
    when: always
    expire_in: 7 days
    paths:
      - $CI_PROJECT_DIR/publish-linux
  tags:
    - net8
